<h1>
  snake-ml
</h1>
<svg class="game-board"
     [style.width]="gameBoardWidth * cellSize"
     [style.height]="gameBoardHeight * cellSize">
  <g *ngFor="let row of gameBoard; let i = index"
     [attr.data-index]="i">
    <rect *ngFor="let cell of row; let j = index"
          [attr.data-index]="j"
          [style.x]="j * cellSize"
          [style.y]="i * cellSize"
          [style.width]="cellSize"
          [style.height]="cellSize"
          [style.fill]="CellColorConst[cell]">
    </rect>
  </g>
</svg>
<button class="play-button"
        (click)="play()">
  Play
</button>
